form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }