
<h2>Crear nueva cuenta</h2>

<form [formGroup]="userForm" (ngSubmit)="save()">

    <mat-form-field >
        <mat-label>Nombre de usuario (username)</mat-label>
        <input matInput type="text" formControlName="username" >
    </mat-form-field>

    <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" >
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" >
    </mat-form-field>

    <mat-checkbox formControlName="isOwner">Eres perfil profesional(owner)?</mat-checkbox>
 
        <button mat-fab extended type="submit" [disabled]="userForm.invalid" >
            <mat-icon>send</mat-icon>
                      Enviar
            </button>

</form>
