<h2>LISTADO DE TAREAS</h2>

<!-- https://uiverse.io/Mike11jr/soft-mayfly-11 -->

<button class="btn"  (click)="ngOnInit()">VER TODAS</button>

<button class="btn" (click)="findAllByCompletedTrue()">TERMINADAS</button>

<button class="btn" (click)="findAllByCompletedFalse()">PENDIENTES</button>



<ul>
    <li *ngFor="let event of events">
        <span [ngClass]="event.completed ? 'completed': 'uncompleted'">  
        {{event.id}} {{event.userId}} {{event.title}} {{event.completed}}
        </span>
    
    </li>
</ul>