<p>user-list works!</p>
<h3>LISTA CON AVATAR USO DE LIBRERIAS ANGULAR</h3>
<mat-list>
  <mat-list-item>
    <mat-icon matListItemIcon>face</mat-icon>
    <span matListItemTitle>Usuario 1</span>
    <span matListItemLine>usuario1@gmail.com</span>
    <span matListItemLine>+34 67899032</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListItemIcon>woman2</mat-icon>
    <span matListItemTitle>Usuario 2</span>
    <span matListItemLine>usuario2@gmail.com</span>
    <span matListItemLine>+34 7899032</span>
  </mat-list-item>
 
</mat-list>