<form [formGroup]="userForm"(ngSubmit)="save()">

    <div>
        <label for="fullName">Nombre completo: <span style="color: red">*</span></label>
        <input type="text" id="fullName" formControlName="fullName">
        <div>
        <span *ngIf="userForm.get('fullName')?.getError('required') && userForm.get('fullName')?.touched">
            Nombre Obligatorio
        </span>
        </div>
    </div>

    <div>
        <label for="email">Email: <span style="color: red">*</span></label>
        <input type="email" id="email" formControlName="email">
        <div>
        <span *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            <span *ngIf="userForm.get('email')?.getError('required')">
                email Obligatorio
            </span>
            <span *ngIf="userForm.getError('email')">
                Email incorrecto y con formato: hola@example.com
            </span>
        </span>
        </div>
    </div>

    
    <div>
        <label for="nickName">NickName: <span style="color: red">*</span></label>
        <input type="text" id="nickName" formControlName="nickName">
        <div>
        <span *ngIf="userForm.get('nickName')?.invalid && userForm.get('nickName')?.touched">
            <span *ngIf="userForm.get('nickName')?.getError('required')">
                nickName Obligatorio
            </span>
            <span *ngIf="userForm.get('nickName')?.getError('minLength')||
                    userForm.get('nickName')?.getError('maxLength')">
                
                nickName incorrecto y con formato: mayor de 6 y menor de 10
            </span>
        </span>
        </div>
    </div>

    <div>
        <label for="salary">Salario: <span style="color: red">*</span></label>
        <input type="number" step="0" id="salary" formControlName="salary">
        <div>
        <span *ngIf="userForm.get('salary')?.invalid && userForm.get('salary')?.touched">
            <span *ngIf="userForm.get('salary')?.getError('required')">
                Salario Obligatorio
            </span>
            <span *ngIf="userForm.get('salary')?.getError('min')||
                    userForm.get('salary')?.getError('max')">
                
                Salario incorrecto y con formato: mayor de 10000 y menor de 50000
            </span>
        </span>
        </div>
    </div>

    <div>
        <label for="nif">Documento de Identidad - NIF: <span style="color: red">*</span></label>
        <input type="text"  id="nif" formControlName="nif">
        <div>
        <span *ngIf="userForm.get('nif')?.invalid && userForm.get('nif')?.touched">
            <span *ngIf="userForm.get('nif')?.getError('required')">
                NIF Obligatorio
            </span>
            <span *ngIf="userForm.get('nif')?.getError('pattern')">
                
               NIF  con formato correcto 8 números y 1 letra
            </span>
        </span>
        </div>
    </div>

    <div>
        <label for="phone">Teléfono: </label>
        <input type="text"  id="phone" formControlName="phone">
        <div>
        <span *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched">
            <span *ngIf="userForm.get('phone')?.getError('pattern')">
                
               Telefono debe tener formato de 9 digitos empezando por 9, 6, o 7
            </span>
        </span>
        </div>
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password"  id="password" formControlName="password">
        <div>
        <span *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            <span *ngIf="userForm.get('password')?.getError('pattern')">
                
               La contraseña  debe tener entre 8 - 10 caracteres: minúscula, mayúscula, númeos y %&/
            </span>
        </span>
        </div>
    </div>

    <div>
        <label for="passwordConfirm">Confirma la contraseña: </label>
        <input type="password"  id="passwordConfirm" formControlName="passwordConfirm">
        <div>
        <span *ngIf="userForm.get('passwordConfirm')?.invalid && userForm.get('passwordConfirm')?.touched">
            <span *ngIf="userForm.get('passwordConfirm')?.getError('pattern')">
                
                La contraseña  debe tener entre 8 - 10 caracteres: minúscula, mayúscula, númeos y %&/
            </span>
            <span *ngIf="userForm.getError('confirmError')&& userForm.get('passwordConfirm')">
                La contraseña no coincide
            </span>
        </span>
        </div>
    </div>

  




    <button type="submit" [disabled]="userForm.invalid">Guardar</button>


</form>

