<p>ejemplo2 works!</p>

<h2>Listado de Ordenadores</h2>
<h3>Ordenador 1</h3>
<div>
    <p>
        <strong>Fabricante:</strong>{{ordenador1.fabricante}}
    </p>
    <p>
        <strong>Modelo:</strong>{{ordenador1.modelo}}
    </p>
    <p>
        <strong>Memoria:</strong>{{ordenador1.ram}}
    </p>
</div>
<h3>Ordenador 2</h3>
<div>
    <p>
        <strong>Fabricante:</strong>{{ordenador2.fabricante}}
    </p>
    <p>
        <strong>Modelo:</strong>{{ordenador2.modelo}}
    </p>
    <p>
        <strong>Memoria:</strong>{{ordenador2.ram}}
    </p>
</div>
