<h2>Creación de libro</h2>

<form [formGroup]="bookForm" (ngSubmit)="save()">
  
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
          
    <mat-form-field >
      <mat-label>Sinopsis:</mat-label>
      <textarea matInput #message maxlength="1000" rows="5" placeholder="Tema del libro..." 
            formControlName="sinopsis">
      </textarea>
      <mat-hint align="start"><strong>Coloca información para ayudar al lector</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 1000</mat-hint>
    </mat-form-field>
            
  
  
          
    <button mat-fab extended type="submit" [disabled]="bookForm.invalid">
    <mat-icon>send</mat-icon>
              Enviar
    </button>
        
  </form>
  

