<p>user-table works!</p>
<h2>Listado de Usuarios</h2>

<table mat-table [dataSource]="users" class="mat-elevation-z8">

    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Nombre Completo</th>
        <td mat-cell *matCellDef="let user">{{user.fullName}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
    </ng-container>
    <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let user">
            <img src="{{user.avatar}}" alt="{{user.email}}">
        </td>
    </ng-container>
    <!--Acciones-->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let user">

            <button mat-fab extended color="primary">
                <mat-icon>visibility</mat-icon>
                Ver
            </button>

            <button mat-fab extended color="accent">
                <mat-icon>edit</mat-icon>
                Editar
            </button>

            <button mat-fab extended color="warn">
                <mat-icon>delete</mat-icon>
                Borrar
            </button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>