table {
    margin-top: 20px;
    margin-bottom: 20px;
}
 
a {
    display: block;
    color: aquamarine;
    text-decoration: none;
    font-size: 20px;
    margin-bottom:5px;
}

a:hover{
    opacity: 0.6;
    transition: 0.3s;
}