<nav>
    <mat-toolbar class="navbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" title="Inicio">
        <img src="/assets/img/logo.svg" class="logo" alt="logo">
      </a>
      <span class="example-spacer"></span>

      <button mat-button  *ngIf="isLoggedIn" routerLink="/bookings">
        <mat-icon>shopping_cart</mat-icon>
        Reservas
      </button>


  
      <button mat-button [matMenuTriggerFor]="menuBooks">
        <mat-icon>menu_book</mat-icon>
        Libros
      </button>

      <mat-menu #menuBooks="matMenu">
        <button mat-menu-item routerLink="/books">Listado libros</button>
        <button mat-menu-item routerLink="/books/new" *ngIf="isAdmin">Crear nuevo libro</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="menuAuthors">
        <mat-icon>person-book</mat-icon>
        Autores
      </button>
      <mat-menu #menuAuthors="matMenu">
        <button mat-menu-item routerLink="/authors">Listado autores</button>
        <button mat-menu-item routerLink="/authors/new" *ngIf="isAdmin">Crear nuevo</button>
      </mat-menu>

      <button mat-button *ngIf="isOwner" routerLink="/account/book">
        <mat-icon>library-add</mat-icon>
        Mi  libro
      </button>


      <!--button mat-button  routerLink="/auth/login">Iniciar sesión</button>
      <button mat-button   routerLink="/auth/register">Crear cuenta</button>
      <button mat-button   (click)="authService.logout()">Cerrar sesión</button-->

      <!--button mat-button *ngIf="authService.isAdmin()" routerLink="/auth/register">Eres Administrador</button-->

      <button mat-button *ngIf="!isLoggedIn" routerLink="/auth/login">
        <mat-icon>login</mat-icon>
        Iniciar sesión
      </button>
      
      <button mat-button *ngIf="!isLoggedIn"  routerLink="/auth/register">
        <mat-icon>person-add</mat-icon>
        Crear cuenta
      </button>

      <button mat-button *ngIf="isLoggedIn"  routerLink="/users/profile">
        <mat-icon>account_circle</mat-icon>
        Mi Perfil
      </button>

      <button mat-button *ngIf="isLoggedIn"  routerLink="/users/avatar">
        <mat-icon>photo_camera</mat-icon>
        Mi Avatar
      </button>


      <button mat-button *ngIf="isLoggedIn"  (click)="authService.logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
  
  
     
    </mat-toolbar>
  </nav>
